doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='Language', content='en')
    meta(name='description', content='Cloud-Based applications to recruit, train, and manage.')
    meta(name='keywords', content='keywords')
    link(rel='shortcut icon', href='/favicon.png')
    title Technology - The Scoop
    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css')
    style.
      #root{min-height:700px}
    link(href='/static/css/main.9d36a52b.css', rel='stylesheet')
  body#top
    header
      ul#mobile-demo.sideNav.topnav.side-nav
        img(src='/images/photos/ev1.jpg', alt='SideImagine')
        li
          a(href='#about') About
        li
          a(href='#news') News
        li
          a(href='#events') Events
        li
          a(href='#popular') Popular
        li
          a(href='#community') Community
      .navbar-fixed
        nav#header.brown.darken-1
          .nav-wrapper
            a.brand-logo(href='#top')
              img(src='/images/logo.png', alt='Logo')
            a.button-collapse(href='#', data-activates='mobile-demo')
              i.material-icons menu
            ul.topnav.right.hide-on-med-and-down
              li
                a(href='#about') About
              li
                a(href='#news') News
              li
                a(href='#events') Events
              li
                a(href='#popular') Popular
              li
                a(href='#community') Community
              li
                a.waves-effect.waves-light.btn.blue-grey.darken-1(href='//es6-features.org/#Constants', target='_blank') ECMA 6
    main
      #root
    footer.page-footer.brown.darken-1
      .container
        .row
          .col.l6.s12
            h5.white-text Tech Code Los Angeles
            p.grey-text.text-lighten-4 Founded in Sunny California.
          .col.l4.offset-l2.s12
            h5.white-text Links
            ul
              li
                a.grey-text.text-lighten-3(href='https://github.com/planlodge', target='_blank') GitHub
              li
                a.grey-text.text-lighten-3(href='https://linkedin.com/in/jarrodsampson', target='_blank') LinkedIn
      .footer-copyright.blue-grey.darken-1
        .container
          | © 2017 Planlodge
          a.grey-text.text-lighten-4.right(href='http://planlodge.com', target='_blank') Portfolio
      a.scroll-top.tooltipped(href='#top', data-position='left', data-tooltip='Back to Top')
        i.fa.fa-angle-up
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js')
    script(src='/libs/moment.js')
    script(src='/libs/headroom.js')
    script(src='/libs/owl.carousel.js')
    script(src='/libs/owl.autoplay.js')
    script(src='/libs/wow.min.js')
    script(src='/libs/jquery.swipebox.min.js')
    script(src='/libs/main.js')
    script(type='text/javascript', src='/static/js/main.08757eb6.js')
